<div class="row text-center">
   <h2>New Vehicle Form</h2>
</div>
<form [formGroup]="vehicleForm" (ngSubmit)="registerVehicle()">
<div class="row">
  <div class="form-group">
    <label>Type :-</label>
    <select class="form-control" id="type" formControlName="type" required>
      <option>Bike</option>
      <option>Scooty</option>
      <option>Car</option>
      <option>Jeep</option>
    </select>
    <!-- <label []="vehicleForm.valid" class="label label-danger">Type required</label> -->
  </div>
</div>
<div class="row">
    <div class="form-group">
      <label>Name:-</label>
      <input type="text" class="form-control" id="name" formControlName="name" required>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>Description:-</label>
      <textarea class="form-control" rows="7" id="desc" formControlName="desc" required></textarea> 
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-danger" 
        (click)="cancelForm()">
        Cancel</button>
      </div>
      <div class="col-sm-6 text-left">
        <button type="submit" class="btn btn-success" [disabled]="!vehicleForm.valid">
          Submit</button>
        </div>
        
      </div>
    </form>