
<div class="container-fluid">
    <div class="col-sm-4" style="margin-top: 80px">
            <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-primary" 
                        [routerLink]="[{ outlets: { registerOutlet: ['register'] } }]">
                            Register New Vehicle</button>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-11">
                    <router-outlet name="registerOutlet"></router-outlet>

                        </div>
                      </div>
    </div>
    <div class="col-sm-4">
            <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Vehicle list</h1>
                    </div>
                  </div>
                
                    <div class="row">
                        <div class="col-sm-12 text-center" style="background-color: rgb(217, 255, 255)">
                              <h3>Two Wheelers</h3>
                              <div class="row">
                                  <div class="col-sm-12" style="background-color:rgba(255, 230, 215, 0.849)">
                                      <h3>Bikes</h3>
                                          <div class="row">
                                              <app-bike-component></app-bike-component>
                                          </div>
                                    
                                </div>
                                <div class="col-sm-12" style="background-color:rgba(219, 215, 255, 0.849)">
                                    <h3>Scooties</h3>
                                      <div class="row">
                                              <app-scooty></app-scooty>
                                      </div>
                              </div>
                              </div>
                        </div>
                        <div class="col-sm-12 text-center" style="background-color:rgba(247, 215, 255, 0.849)">
                            <h3>Four Wheelers</h3>
                            <div class="row">
                                <div class="col-sm-12" style="background-color:rgba(216, 255, 215, 0.849)">
                                    <h3>Cars</h3>
                                    <div class="row">
                                        <app-cars></app-cars>
                                </div>
                              </div>
                              <div class="col-sm-12" style="background-color:rgba(255, 215, 215, 0.849)">
                                  <h3>Jeeps</h3>
                                  <div class="row">
                                      <app-jeeps></app-jeeps>
                              </div>
                            </div>
                            </div>
                      </div>
                    </div> 
    </div>
    <div class="col-sm-4">
            <div class="row" style="margin-top: 80px">
                    <div class="col-sm-12" [@routeAnimations]="getAnimationData(routerOutlet)">
                      
                       <router-outlet #routerOutlet="outlet" name="infoOutlet"></router-outlet>
                    </div>
                   
                  </div> 
    </div>




  
    
  </div>


